<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuwei112.myfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.liuwei112.Ordering.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.liuwei112.Ordering.activity.RegActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.MainActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.FoodListActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.FoodDetailActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.FoodCommentActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.FoodOrderActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.AddFoodActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.AddShopActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.EditUserActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.UserOrderActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.UserCommentActivity" />
        <activity android:name="com.example.liuwei112.Ordering.activity.InsertCommentActivity"></activity>
    </application>

</manifest>